.hero {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-effective-solutions.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #c4c4c4;

  &__title {
    margin-bottom: 30px;
    @include font(44px, 900);
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }

  &__button {
    padding: 10px 32px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    @include font(16px, 700);
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: color var(--duration) var(--speed),
      background-color var(--duration) var(--speed);

    &:hover,
    &:focus {
      color: var(--accent-color);
      background-color: var(--primary-white-color);
    }
  }
}

.hero-geometry {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
